.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .count-label {
    margin-bottom: 4px;
  }
  
  .btn-group {
    margin-top: 20px;
  }