.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .title {
    text-align: center;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .btn:focus {
    outline: none;
  }
  
  #chart-container {
    width: 20%;
    max-width: 300px;
    margin-top: 10px;
  }
  
  .form-group {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .row {
    margin-bottom: 20px;
  }
  
  .col {
    display: flex;
    flex-direction: column;
  }
  
  .count-label {
    margin-bottom: 4px;
  }
  
  .btn-group {
    margin-top: 20px;
  }